.button {
    background-color: palevioletred;
    color: aliceblue;
    padding: 15px 40px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    margin-left: auto;
    cursor: pointer;
}